{% extends "base.html"%}

{%load static%}

{% block title %}
All Post Title
{% endblock %}

{% block css_files%}
<link rel="stylesheet" href="{% static "blog/post-details.css"%}">
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>Post Title</h2>
        <article>   
            <img src="{%static "blog/images/mountains.jpg"%}" 
            alt="Post Title">
            <address>By CHeeNU</address>
            <div>
                Last updated on<time>Aprill 17</time>
            </div>
        </article>
    </section>

    <main>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ab iste quia reiciendis nisi accusamus omnis debitis
            similique assumenda ex aliquam suscipit, ratione commodi
            sequi a cum rerum sint? Incidunt, natus!
        </p>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ab iste quia reiciendis nisi accusamus omnis debitis
            similique assumenda ex aliquam suscipit, ratione commodi
            sequi a cum rerum sint? Incidunt, natus!
        </p>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ab iste quia reiciendis nisi accusamus omnis debitis
            similique assumenda ex aliquam suscipit, ratione commodi
            sequi a cum rerum sint? Incidunt, natus!
        </p>
        </main>
{% endblock %}